$primary:#747474;
$secondary:#bdbdbd;
$dark:#333;
$border:#bbb;
$strokeTrack:#f7f6fc;
$strokeBlueFill:#fa8f72;
$blue:#4f46bb;
$contentPaneBG:#fafafa;
$storyBorder:#e6e6e6;
$lightBlue:#918ad5;
$white:#fff;
$outerCircle:#d6e1ee;
$thinBlue:#f2e8ff;
$labelColor:#84e9f5;
$addPhoto:#fef3f1;
$headerRed:#af6d5c;
$black:#000;